{% extends 'layouts/layouts.html' %}
{% block content %}
<div class="cotainerA">
    <div class="card text-center">
        <br><br><br>
        <div class="card-body">
            <h2 class="card-title">Special title treatment Goole Search Emgine </h2>
            <h3 class="card-text">With supporting text below as a natural lead-in to additional content.</h3>
            <a href="#" class="btn btn-primary">7 Days Trial Period</a>
            <p class="card-text">Find Out For Free Accounts .</p>
        </div>

    </div>
</div>
<script src="{{ url_for('static',filename='main.js') }}"></script>
{% endblock content%}