{% extends 'layouts/layouts.html' %}
{% block contentA %}
<div class="container w-50">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Reset Password </legend>
            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                {% for e in form.email.errors %}
                <div class="invalid-feedback">{{ e }}</div>
                {% endfor %}
                {% else %}
                {{ form.email(class="form-control") }}
                {% endif %}
            </div>
            
            <br>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
            
        </div>
    </form>
</div>
{% endblock contentA %}